// HERO
.hero {
  margin-top: 4rem;
  padding-top: 4rem;

  display: flex;
  flex-direction: column;
  gap: 6.4rem;

  &__text-box {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    @media only screen and (max-width: 50.38em) {
      width: 75%;
    }

    @media only screen and (max-width: 37.5em) {
      width: 90%;
      padding: 0 2.4rem;
    }

    @media only screen and (max-width: 29.44em) {
      width: 100%;
    }
  }

  &__text {
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 3.2rem;
    animation: moveInRight 1s ease-in-out;

    @media only screen and (max-width: 37.5em) {
      font-size: 1.6rem;
    }

    @media only screen and (max-width: 22.8em) {
      font-size: 1.4rem;
    }
  }

  &__btn {
    font-size: 1.8rem;
    padding: 2rem;
    animation: moveInBottom 1s ease-in-out 0.5s;
    animation-fill-mode: backwards;

    @media only screen and (max-width: 20.3em) {
      font-size: 1.6rem;
    }
  }

  // &__btn {
  //   font-size: 1.8rem;
  //   padding: 2rem;
  //   animation: moveInBottom 1s ease-in-out 0.5s;
  //   animation-fill-mode: backwards;

  //   @media only screen and (max-width: 20.3em) {
  //     font-size: 1.6rem;
  //   }
  // }
}

// Slider

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  &__slide {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.7s ease-in-out;

    @media only screen and (max-width: 75em) {
      height: 70vh;
    }
    @media only screen and (max-width: 62.5em) {
      height: 60vh;
    }

    @media only screen and (max-width: 50em) {
      height: 50vh;
    }

    @media only screen and (max-width: 37.5em) {
      height: 40vh;
    }

    @media only screen and (max-width: 28.2em) {
      height: 30vh;
    }

    &-1 {
      background-image: linear-gradient(
          rgba(112, 14, 16, 0.3),
          rgba(112, 14, 16, 0.3)
        ),
        url(../img/jj-slider.jpg);
    }

    &-2 {
      background-image: linear-gradient(
          rgba(112, 14, 16, 0.3),
          rgba(112, 14, 16, 0.3)
        ),
        url(../img/slider-2.jpg);
    }
    &-3 {
      background-image: linear-gradient(
          rgba(112, 14, 16, 0.3),
          rgba(112, 14, 16, 0.3)
        ),
        url(../img/slider-3.jpg);
    }
    &-4 {
      background-image: linear-gradient(
          rgba(112, 14, 16, 0.3),
          rgba(112, 14, 16, 0.3)
        ),
        url(../img/jj-slider-2.jpg);
    }
  }

  // arrow buttons
  &__btn {
    height: 6rem;
    width: 6rem;
    fill: var(--color-grey-dark);
    box-shadow: var(--shadow-3);
    cursor: pointer;
    z-index: 1;

    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: 37.5em) {
      height: 4rem;
      width: 4rem;
    }

    &-left {
      left: 3.5%;

      @media only screen and (max-width: 75em) {
        left: 5%;
      }

      @media only screen and (max-width: 28.12em) {
        left: 7%;
      }
    }

    &-right {
      right: 0%;
    }
  }

  // dots
  .dots {
    position: absolute;
    bottom: 3%;
    display: flex;
    gap: 1rem;

    &__dot {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      border: 0.3rem solid var(--color-primary-light);
      background: none;
      cursor: pointer;
    }

    &__dot--active {
      background-color: var(--color-primary-light);
    }
  }
}

// about

.about {
  padding: 8rem 3.2rem 9.6rem;

  @media only screen and (max-width: 37.5em) {
    padding: 6.4rem 2.4rem;
  }

  &__grid {
    align-items: center;
    padding: 3.2rem;
    border: 0.1rem solid var(--color-grey-light);
    border-radius: 2rem;

    @media only screen and (max-width: 37.5em) {
      padding: 2.4rem;
    }
  }

  // text box
  &__text--box {
    // padding: 4.8rem;

    @media only screen and (max-width: 59.37em) {
      width: 85%;
      margin: 0 auto;
    }
    @media only screen and (max-width: 37.5em) {
      width: 100%;
    }
  }

  &__text {
    font-size: 1.8rem;
    line-height: 1.8;

    @media only screen and (max-width: 37.5em) {
      font-size: 1.6rem;
    }
  }

  &__btn {
    font-size: 1.8rem;
    margin-top: 2.4rem;
    padding: 1.6rem 3.2rem;
    background-image: linear-gradient(
      120deg,
      var(--color-grey-dark) 0%,
      var(--color-grey-dark) 50%,
      var(--color-grey) 50%
    );
  }

  // img box
  &__img--box {
    figure {
      @include imgBox;
    }
  }

  &__img {
    @include imgStyle;
  }
}

// services
.services {
  padding: 0 0 9.6rem;

  @media only screen and (max-width: 56.25em) {
    padding: 0 0 6.4rem;
  }

  @media only screen and (max-width: 37.5em) {
    padding: 0 0 4.8rem;
  }

  &__heading {
    width: 70%;
    margin: 0 auto 9.6rem;

    @media only screen and (max-width: 75em) {
      margin: 0 auto 6.4rem;
    }
  }

  // tab component
  .tab {
    width: 80%;
    margin: 0 auto;
    position: relative;

    @media only screen and (max-width: 56.25em) {
      width: 90%;
    }

    &__btn--container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      position: relative;
      z-index: 1;

      @media only screen and (max-width: 43.75em) {
        gap: 1.5rem;
      }

      @media only screen and (max-width: 31.25em) {
        gap: 1rem;
      }
    }

    &__btn {
      font-family: inherit;
      display: inline-block;
      color: var(--color-grey-dark);
      border: none;
      background: none;
      background-color: var(--color-grey-light);
      text-decoration: none;
      text-transform: capitalize;
      font-size: 1.8rem;
      font-weight: 500;
      padding: 1.2rem 3.2rem;
      border-radius: 10rem;
      box-shadow: var(--shadow-1);
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 0.2s;

      @media only screen and (max-width: 43.75em) {
        font-size: 1.6rem;
        padding: 1rem 2rem;
      }

      @media only screen and (max-width: 37.5em) {
        padding: 1rem;
      }

      @media only screen and (max-width: 31.25em) {
        font-size: 1.2rem;
      }

      &--active {
        background-color: var(--color-primary);
      }
    }

    &__content {
      display: none;

      &--active {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4.8rem;
        align-items: center;
        background-color: rgba(245, 239, 239, 0.8);
        padding: 8rem 4.8rem 4.8rem;
        border-radius: 2rem;
        box-shadow: var(--shadow-1);

        position: relative;
        top: -4rem;
        left: 0;

        @media only screen and (max-width: 62.5em) {
          gap: 3.2rem;
          padding: 8rem 3.2rem 4.8rem;
        }

        @media only screen and (max-width: 43.75em) {
          grid-template-columns: 1fr;
          padding: 8rem 4.8rem 4.8rem;
        }

        @media only screen and (max-width: 28.12em) {
          padding: 8rem 2rem 2.4rem;
        }
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      border-radius: 20%;
      box-shadow: var(--shadow-2);
    }

    &__text--box {
      @media only screen and (max-width: 43.75em) {
        grid-row: 1 / 2;
        // text-align: center;
      }
    }

    &__title {
      font-family: "Mr Dafoe", cursive;
      font-size: 3.2rem;
      text-transform: capitalize;
      text-align: center;
      transform: rotate(4deg);
      margin-bottom: 3rem;
      letter-spacing: 0.2rem;
    }

    &__text {
      font-size: 2rem;
      line-height: 1.8;

      @media only screen and (max-width: 56.25em) {
        font-size: 1.6rem;
      }
    }
  }
}

// contact
.contact {
  padding: 0rem 9.6rem 9.6rem;

  @media only screen and (max-width: 62.5em) {
    padding: 0 4.8rem 9.6rem;
  }

  @media only screen and (max-width: 50em) {
    padding: 0 4.8rem 6.4rem;
  }

  @media only screen and (max-width: 37.5em) {
    padding: 0 2.4rem 6.4rem;
  }

  &__heading {
    margin-bottom: 7rem;
    @media only screen and (max-width: 56.25em) {
      margin-bottom: 4.8rem;
    }

    @media only screen and (max-width: 37.5em) {
      margin-bottom: 3rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.4rem;

    @media only screen and (max-width: 62.5em) {
      gap: 4.8rem;
    }

    @media only screen and (max-width: 56.25em) {
      grid-template-columns: 1fr;
      gap: 6.4rem;
    }
  }

  &__address--box {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    @media only screen and (max-width: 56.25em) {
      width: 70%;
      margin: 0 auto;
      gap: 2.4rem;
    }

    @media only screen and (max-width: 37.5em) {
      width: 100%;
    }
  }

  &__text {
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 2.4rem;

    @media only screen and (max-width: 37.5em) {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-primary);
  }

  &__address {
    font-size: 2rem;
    line-height: 1.6;

    @media only screen and (max-width: 37.5em) {
      font-size: 1.6rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      // display: block;
      text-decoration: none;
      font-size: 2rem;
      color: var(--color-grey);

      @media only screen and (max-width: 37.5em) {
        font-size: 1.6rem;
      }
    }
  }

  &__form--box {
    padding: 2.4rem;

    @media only screen and (max-width: 56.25em) {
      width: 70%;
      padding: 0;
      margin: 0 auto;
    }

    @media only screen and (max-width: 37.5em) {
      width: 100%;
    }
  }

  &__form--title {
    display: none;

    @media only screen and (max-width: 56.25em) {
      display: block;
      font-size: 3.2rem;
      font-weight: 600;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 3.6rem;
      letter-spacing: 0.2rem;
    }

    @media only screen and (max-width: 37.5em) {
      font-size: 2rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    font-family: "Montserrat Alternates", sans-serif;

    @media only screen and (max-width: 56.25em) {
      gap: 3rem;
    }

    &--group {
      display: flex;
      gap: 2.4rem;
    }

    &--input {
      font-family: inherit;
      display: block;
      border: none;
      font-size: 2rem;
      padding: 2rem 1.6rem;
      box-shadow: var(--shadow-1);

      // @media only screen and (max-width: 56.25em) {
      //   padding: 2.4rem 1.6rem;
      // }

      &:focus {
        outline: none;
        box-shadow: inset 0 0 0 0.2rem var(--color-primary);
      }
    }

    &--input::placeholder {
      font-size: 2rem;
      text-transform: capitalize;
      // font-family: "Montserrat Alternates", sans-serif;
      font-family: inherit;
    }

    &--input-text {
      width: 50%;
    }

    &--input-textarea {
      margin-bottom: 2rem;
    }

    &--btn {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 2rem 2.4rem;
      width: fit-content;
      border: none;
      background: none;
      background-image: linear-gradient(
        120deg,
        var(--color-primary) 0%,
        var(--color-primary) 50%,
        var(--color-grey-dark) 50%
      );
      background-size: 220%;
      color: var(--color-grey-light);
      box-shadow: var(--shadow-1);
      border-radius: 1rem;
      cursor: pointer;
      transition: all 0.3s;

      @media only screen and (max-width: 56.25em) {
        width: 60%;
        margin: 0 auto;
        padding: 2.4rem;
        font-size: 2rem;
      }

      @media only screen and (max-width: 37.5em) {
        width: 100%;
      }

      &:hover {
        background-position: 100%;
      }
    }
  }
}
// footer
.footer {
  &__container {
    border-top: 0.1rem solid var(--color-grey-light);
    padding: 4.8rem 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
  }

  // &__link {
  //   &:link,
  //   &:visited {
  //     text-decoration: none;
  //     color: var(--color-primary);
  //     font-size: 2.4rem;
  //   }
  // }

  &__icon {
    height: 4rem;
    width: 4rem;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__copyright {
    text-align: center;
    font-size: 2rem;
  }
}
